<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <script src='/public/js/clientjs.js'></script>
    
</head>
<body>
    {{>header}}  
    <div>
       <form>

           Login: <input type="text">
           Password: <input type="text">
           <button>Login</button>
           <p id="p1">Enter your username & password to login!!</p>
       </form>
    </div>
    {{>footer}}
</body>
</html>