<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Users + <a href="users">Add User Account</a></p>

    </div>

    {{>footer}}

      <script src='/public/js/clientjs.js'></script>
</body>

</html>