{{!--header.hbs--}}
<header> 
    <img src="/img/logo.png">
    <h1>{{title}}.</h1> 
    <h3>Created By {{name}}</h3>

<div>
    <a href="/clients">Clients</a>
    <a href="/tickets">Tickets</a>
    <a href="/timelog">Time Log</a>
    <a href="/kb">Knowledge Base</a>
    <a href="/reports">Reports</a>
    <a href="usermanager">User Manager</a>
    <a href="/settings">Settings</a>
</div>
</header>